@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.links {
    color: #007aff;
    padding-left: 0;
}

html, body {
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
    color: white !important;
}

.detail-next {
    background-image: url(assets/image/main/rigth.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 16px !important;
    cursor: pointer;
    z-index: 99!important;
    margin-left: 16px;
}

.detail-prev {
    background-image: url(assets/image/main/left.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 16px !important;
    cursor: pointer;
    z-index: 99!important;
}

.info-next {
    background-image: url(assets/image/main/arrow-left.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 6px !important;
    height: 12px !important;
    cursor: pointer;
    z-index: 99!important;
    margin-left: 16px;
}

.info-prev {
    background-image: url(assets/image/main/left.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 6px !important;
    height: 12px !important;
    cursor: pointer;
    z-index: 99!important;
}

.swiper-next {
    background-image: url(assets/image/main/rigth.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 20px !important;
    cursor: pointer;
    z-index: 99!important;
}

.swiper-prev {
    background-image: url(assets/image/main/left.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 20px !important;
    cursor: pointer;
    z-index: 99!important;
}

.banner-next {
    background-image: url(assets/image/main/arrow-rigth.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 20px !important;
    cursor: pointer;
    z-index: 99!important;
}

.banner-prev {
    background-image: url(assets/image/main/arrow-left.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 20px !important;
    cursor: pointer;
    z-index: 99!important;
}

.button-next {
    background-image: url(assets/image/main/rigth.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 20px !important;
    cursor: pointer;
}

.button-prev {
    background-image: url(assets/image/main/left.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 10px !important;
    height: 20px !important;
    cursor: pointer;
}

.next {
    background-image: url(assets/image/main/rigth.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.prev {
    background-image: url(assets/image/main/left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.activity {
    border-bottom: 2px solid #3070B6;
}


.paginate {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 100;
}

.pagination {
    margin-bottom: 62px;
    display: flex;
    list-style: none;
    outline: none;
}
.pagination > .active > a {
    background-color: #F2F6F9;
    color: black;
}

.pagination > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 38px;
    margin: 4px;
    border-radius: 4px;
    background-color: #F2F6F9;
}

.pagination > li > a {
    margin: 4px;
    outline: none;
    cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    border-color: blue;
    outline: none ;
}

.pagination > li > a, .pagination > li > span{
    color: blue;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    color: gray;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    color: gray;
}

/* @media (max-width: 1440px){
    .news {
        margin-left: 24px !important;
        height: 647px;
    }
}

@media (max-width: 1300px){
    .slick-slide {
        width: 372px;
    }
    .main {
        max-width: 1225px;
        padding-right: 30px !important;
    }
    .arrow-right {
        margin-right: -15px;;

    }
    .arrow-left {
        margin-left: 10px;
    }
    .news {
        height: 620px;
    }
}

@media (max-width: 750px){
    .slick-slide {
        width: 372px;
    }
    .main {
        max-width: 800px;

    }

    .news {
        height: 600px;
    }
    .my-dots li {
        margin: 0 15px;
    }
}

@media (max-width: 650px) {
    .slick-slide {
        width: 372px;
    }

    .main {
        max-width: 870px;
        padding-left: 15px;
    }
    .arrow-left {
        margin-left: -3px;
    }
    .news {
        height: 600px;
    }
    .my-dots li {
        margin: 0 10px;
    }
}

    @media (max-width: 550px) {
        .slick-slide {
            width: 372px;
        }

        .main {
            max-width: 455px;
        }
        .news {
            margin-left: 24px !important;
        }
        .news {
            height: 600px;
        }
        .my-dots li {
            margin: 0 5px;
        }
    }

 */
